.card {
  width: 500px;
  display: inline-block;
  margin: 10px;
}

.btn {
  margin: 10px;
}
h3 {
  text-transform: capitalize;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid lightgrey;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
